<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911897153370-b2e27dvi7eus6l8kulr8vurai5f1roma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911897153370-b2e27dvi7eus6l8kulr8vurai5f1roma</string>
	<key>API_KEY</key>
	<string>AIzaSyD_dMS7UsbS2vV4EsS0NaWfHK1Kaj3aESs</string>
	<key>GCM_SENDER_ID</key>
	<string>911897153370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seamlezz.app.Atlezz</string>
	<key>PROJECT_ID</key>
	<string>atlezz</string>
	<key>STORAGE_BUCKET</key>
	<string>atlezz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911897153370:ios:d493d3d3a21a7e6b016d63</string>
	<key>DATABASE_URL</key>
	<string>https://atlezz.firebaseio.com</string>
</dict>
</plist>